@media (max-width: 920px) {
  header #navbar #menu {
    display: block;
    width: 4rem;
    height: 4rem;
    padding: 0;
    margin: 0;
    cursor:pointer;
  }
  header #navbar {
    max-width: inherit;
    margin: auto;
  }
  header #navbar #nav-image {
    display: inline;
  }
  header .nav-item a {
    display: none;
  }
  main .tb {
    max-width: inherit;
    margin: auto;
  }
}

@media (max-width: 740px) {
  .post-cards {
    flex-direction: column;
  }
  header #navbar #nav-image {
    display: none;
  }
}
