* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
input,
button,
select,
textarea {
  font-family: "Heebo", sans-serif;
}
body {
  background-color: rgb(77, 188, 77);
}
header {
  height: 80px;
}
header #navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  max-width: 65rem;
  margin: 3rem auto;
  height: 7rem;
  border-radius: 0.18rem;
  background-color: none;
}
header #menu{
  display: none;
}
header #navbar #nav-image {
  border-radius: 3rem;
}
header #navbar .nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}
header .nav-item a {
  text-decoration: none;
  color: rgb(243, 245, 241);
  padding: 0.3rem 0.9rem;
  font-size: 1, 5rem;
  font-weight: 500;
}
.nav-item a:hover {
  color: rgb(21, 72, 28);
  transition: color 0.3s;
  border: 0.01rem outset  rgb(77, 188, 77);
  border-radius: 0.6rem;
}

/* section trilhasbrasil */
main{
    margin: 6rem 6rem;
}
main .tb{
display: flex;
max-width: 64rem;
margin: 0 auto;
background-color: #ac2c2c;
color: rgb(107, 153, 64);
align-items: center;
flex-direction: column;
border-radius: 3rem;
}
main .tb h1{
padding: 2rem 0rem;
font-weight: 700;
}
main .tb p{
line-height: 1.5rem;
max-width: 30rem;
margin-bottom: 3rem;
padding: 2rem;
word-wrap: break-word;
}
